{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>

<body>


    <div class="index">
        <h1> <a href="/posts/">Blog termite9</a></h1>
        <small>life is short, You need Blog</small>
        <div class="btn_user btn-primary">User name : {{user.username}}</div>

    </div>
    <div class="grid-container">
        <div class="grid-item">소설읽기
            <h3 class="sonagi"> <a href="https://654d900c8dc67b10e4b13d64--candid-cucurucho-549303.netlify.app">소설 황순원
                    원작 [소나기]</a></h3>
        </div>
        <div class="grid-item">Python Game</div>
        <div class="grid-item">Python Game</div>
        <div class="grid-item">
            <div id="login">
                <br>
                <form method="POST" class="index-login">
                    <br>
                    <h2> <a href="/posts"><strong>Blog termite9</strong></a></h2>
                    <br>

                    {% csrf_token %}
                    <!--                            {{form.as_p}}-->
                    <!--                            <button type="submit" class="btn btn-login" >로그인</button>-->
                    <div>
                        <h2> <a href="/users/login" class="btn btn-login"><strong>로그인 페이지로 이동</strong></a></h2>
                        <br>
                        <br>
                        <a href="/users/signup/" class="btn btn-login"><strong>회원가입 페이지로 이동</strong></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="grid-item"> What?</div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </div>
    <br>


</body>

</html>