{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>

<body>


    <div id="index">
        <!--        <h1> <a href="/posts/">Blog termite9</a></h1>-->
        <h1>Blog termite9</a></h1>
        <small>life is short, You need Blog</small>
        <div class="btn_user btn-primary">User name : {{user.username}}</div>
        <div id="login">
            <form method="POST" class="index-login">
                {% csrf_token %}
                <!--                            {{form.as_p}}-->
                <!--                            <button type="submit" class="btn btn-login" >로그인</button>-->
                <div>
                    <h2> <a href="/users/login" class="btn btn-login"><strong>로그인 (private)</strong></a></h2>
                    <!--                        <a href="/users/signup/" class="btn btn-login"><strong>회원가입 페이지로 이동</strong></a>-->
                </div>
            </form>
        </div>


    </div>

    <div class="grid-container">
        <div class="grid-item1">
            <br>

            <h3 class="sonagi"> <a href="/posts/"><strong>자유게시판</strong></a></h3>
        </div>
        <div class="grid-item2">
            <br>
            <h3 class="sonagi"><a href="https://656be2a968c8cf326297ea83--termite9.netlify.app/">termite9 HomePage</a>
            </h3>


        </div>

        <div class="grid-item3"> 소설읽기
            <h3 class="sonagi"> <a href="https://654d900c8dc67b10e4b13d64--termite9.netlify.app/"> 황순원
                    원작 [소나기]</a></h3>
        </div>

        <div class="grid-item4">
            <br>
            <h3 class="sonagi"> <a href=" https://www.instagram.com/kochangseup/"> Instagram</a></h3>
        </div>


        <div class="grid-item5">
            <h3 class="sonagi">pygame</a></h3>
            <p clss="sonagi-p">(블러그운영자를신뢰하고다운받으세요)</p>
            <h3 class="sonagi-small"><a href="../static/pygame/blocks.exe" download="blocks.exe">1. blocks.exe</a></h3>

            <!--        <img src="{% static 'my_image/images/5.jpg' %}" alt="Your Image">-->
        </div>

        <div class="grid-item6">
            <!--        <img src="{% static 'my_image/images/6.jpg' %}" alt="Your Image">-->

        </div>
        <div class="grid-item7">
            <!--        <img src="{% static 'my_image/images/7.jpg' %}" alt="Your Image">-->

        </div>
        <div class="grid-item8">
            <!--        <img src="{% static 'my_image/images/8.jpg' %}" alt="Your Image">-->

        </div>
    </div>




</body>

</html>