
{% load static %}


<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

</head>
<body>
    <div id="navbar">
        <a href=" /"><span>Blog termite9</span></a>
         <h6><p>__{{user.username}}</p></h6>
        <a href="/posts/add" class="btn btn-primary">글 작성</a>
        {% if user.username %}
            <a href="/users/logout/" class="btn_logout btn-primary">로그아웃</a>
            <a href="https://65689beee4992b0a5fec33ba--termite9.netlify.app/" class="btn_termite9_homepage btn-primary">termite9 homepage</a>

        {% else %}
            <a href="/users/logout/" class="btn_logout btn-primary">로그인</a>
        {% endif %}
    </div>
    <div id="post-list">
        <ul class="posts">
            {% for post in posts %}
            {% if request.user.is_authenticated %}

                <li class="post">
                    <div>
                        <a href="/posts/{{post.id}}/"><h3>제목 : {{post.title}}</h3></a>
                    </div>
                    <p>{{post.id}}-( {{post.write_date}})  {{ post.content}}</p>
                    <ul class="comments">
                        {% for comment in post.comment_set.all %}
                            <li class="comment">{{comment.content}}</li>
                        {% empty %}
                            <li class="comment-empty">*아직 댓글이 없습니다</li>
                        {% endfor %}
                    </ul>
                    {% if post.thumbnail %}
                        <img src ="{{post.thumbnail.url}} " alt="">
                    {% else %}
                        <img src="" alt="">
                    {% endif %}
                </li>
            {% else %}
               {% if post.writer %}

               {% else %}
                <li class="post">
                    <div>
                        <a href="/posts/{{post.id}}/"><h3>제목 : {{post.title}}</h3></a>
                    </div>
                    <p>{{post.id}}-( {{post.write_date}})  {{ post.content}}</p>
                    <ul class="comments">
                        {% for comment in post.comment_set.all %}
                            <li class="comment">{{comment.content}}</li>
                        {% empty %}
                            <li class="comment-empty">*아직 댓글이 없습니다</li>
                        {% endfor %}
                    </ul>
                    {% if post.thumbnail %}
                        <img src ="{{post.thumbnail.url}} " alt="">
                    {% else %}
                        <img src="" alt="">
                    {% endif %}
                </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
<!-- Pagination -->

<!--    페이징 시작-->
        <ul class="paging">
    <!--        이전 페이지-->
            {% if post_list.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?page=1">
                    처음
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ posts.previous_page_number }}">
                    이전
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                    이전
                </a>
            </li>
            {% endif %}
    <!--        페이지 리스트-->
            {% for page_number in posts.paginator.page_range %}
            {% if page_number >= posts.number|add:-5 and page_number <= posts.number|add:5 %}
            {% if page_number == posts.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
    <!--        다음 페이지-->
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ posts.next_page_number }}">
                    다음
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ posts.paginator.num_pages }}">
                    마지막
                </a>
            </li>
            {% else %}
            <li class="page0item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                    다음
                </a>
            </li>
            {% endif %}
        </ul>
    <!--    페이징 끝-->

</body>
</html>