{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
    <div id="login">
        <form method="POST">
            <h1> <a href="/">Blog termite9</a></h1>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-login">로그인</button>
            <a href="/users/signup/" class="btn btn-login">회원가입 페이지로 이동</a>
            <br>

        </form>
    </div>

</body>
</html>