{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <link rel = "stylesheet" href="{% static 'css/login_style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="signup">
        <form method="POST" enctype="multipart/form-data">
            <h1> <a href="/posts">Blog termite9</a></h1>
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="btn btn-signup">가입</button>
            <a href="/users/login/" class="btn btn-login">로그인 페이지로 이동</a>


        </form>
    </div>
</body>
</html>